.bluey {
    background-color: rgb(74, 173, 231);
    font-weight: bold;
    text-align: center;
    margin-bottom: 3em;
    padding-top: 0.1em;
    padding-bottom: 0.5em;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

div{
    background-color: rgb(229, 227, 227);
    text-align: center;
    margin: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h1 {
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
}
